body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    color:var(--black);
}

a {
    color:white;
    text-decoration: underline;
}

:root {
   --gold: rgb(190,150,85);
   --black: rgb(51,51,51);
   --grey: rgb(250,250,250);
   --line: rgb(230,230,230);
   --white: rgb(255,255,255);
   --blue: rgb(100,100,255);
   --b5: rgba(0,0,0,0.05);
   --b10: rgba(0, 0, 0, 0.1);
   --b38: rgba(0,0,0,0.38);
   --b54: rgba(0,0,0,0.54);
   --b87: rgba(0,0,0,0.87);
   --red: linear-gradient(270deg, #E24033 0%, #CD4136 100%);
}

p {
   margin:0 0 0 0;
   line-height: 1.5;
}

h1 {
   font-family: 'Grenze';
   font-size: 36px;
   color: var(--gold);
}

.book {
    display:flex;
    padding: 40px;
}
.cmnt{
    width:600px;
    display: flex;
    padding: 40px 0 0 0;
}

.voter {
    background-color: var(--b10);
    min-width: 36px;
    border-radius: 3px;
    margin: 0 8px 0 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.chapter {
    margin:80px 120px 0 0;

}


/* Bootstrap overrides */


